{% load static %}
<!-- Container for demo purpose -->
<div class="container my-5 pt-5">

    <!-- Section: Design Block -->
    <section class=" background-radial-gradient">
        <style>
            .background-radial-gradient {
                background-color: hsl(218, 41%, 15%);
                background-image: radial-gradient(
                        650px circle at 0% 0%,
                        hsl(218, 41%, 35%) 15%,
                        hsl(218, 41%, 30%) 35%,
                        hsl(218, 41%, 20%) 75%,
                        hsl(218, 41%, 19%) 80%,
                        transparent 100%
                ),
                radial-gradient(
                        1250px circle at 100% 100%,
                        hsl(218, 41%, 45%) 15%,
                        hsl(218, 41%, 30%) 35%,
                        hsl(218, 41%, 20%) 75%,
                        hsl(218, 41%, 19%) 80%,
                        transparent 100%
                );
            }
        </style>

        <div class="container px-4 py-5 px-md-5 text-center text-lg-start">
            <div class="row gx-lg-5 align-items-center my-5 my-lg-0">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1
                            class="mb-5 display-3 fw-bold ls-tight"
                            style="color: hsl(218, 81%, 95%)"
                    >
                        ECO CONSTRUCT <br/>
                        <span style="color: hsl(218, 81%, 75%)">ortiqcha isroflarsiz</span>
                    </h1>
                    <p class="text-white lead mb-xl-0">
                        Uylar va binolardagi ta’mirdan keyingi muammolarni yechishga yo’naltirilgan tizim.
                    </p>
                </div>

                <div class="col-lg-6">
                    <div class="ratio ratio-16x9">
                        <iframe
                                src="{% static 'video/video1.mp4' %}"
                                title="YouTube video"
                                class="rounded-4 shadow-4-strong"
                                allowfullscreen
                        ></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Design Block -->
<span id="problems"></span>
</div>


<!-- Container for demo purpose -->