<div class="container my-3">
  <!--Section: Design Block-->
  <section class="problems-section">
    <h3 class="text-center mb-5">Mavjud muammolar</h3>
    <div class="problem-cards">
      <div class="problem-card">
        <div class="problem-icon">
          <i class="fas fa-exclamation-triangle"></i>
        </div>
        <h5 class="problem-title">Ortiqcha xomashyo</h5>
        <p class="problem-text">
          Ta’mirdan so’ng ortiq qolgan qurilish xomashyolari
          ko’p hollarda sotuvchilar tomonidan qaytarib olinmaydi.
        </p>
      </div>
      <div class="problem-card">
        <div class="problem-icon">
          <i class="fas fa-boxes"></i>
        </div>
        <h5 class="problem-title">Bir uyun qurilish chiqindilari</h5>
        <p class="problem-text">
          Ta’mirdan so’ng paydo bo’lgan bir uyum chiqindilarni hech qayerga tashlolmaysiz.
          Chiqindixonalar ularni qabul qilmaydi, ko’chaga tashlay olmaysiz,
          utilizatsiya xizmatlari mavjud emas.
        </p>
      </div>
      <div class="problem-card">
        <div class="problem-icon">
          <i class="fas fa-broom"></i>
        </div>
        <h5 class="problem-title">Yangi eski bino</h5>
        <p class="problem-text">
          Chiqindilardan qutulib olganingizdan so’ng endi sizga professional
          darajadagi tozalash xizmatlari zarur bo’ladi.
          Bu xizmatlarsiz mulkingiz billurdek yarqiramaydi
        </p>
      </div>
<!--      <div class="problem-card">-->
<!--        <div class="problem-icon">-->
<!--          <i class="fas fa-chart-bar"></i>-->
<!--        </div>-->
<!--        <h5 class="problem-title">Xonalarni jihozlash</h5>-->
<!--        <p class="problem-text">-->
<!--          Bo’m bo’sh xonalarni maksimal qulayliklar bilan jihozlash ancha qiyin.-->
<!--          Bozorlar va do’konlardagi mahsulotlarning mos tushishini tekshirib ko’rish imkonsiz.-->
<!--        </p>-->
<!--      </div>-->
    </div>
  </section>
  <!--Section: Design Block-->
  <span id="solutions"></span>
</div>