<div class="container my-5" >
    <!--Section: Design Block-->
    <section class="solutions-section">
        <h3 class="text-center mb-5">Bizning yechimlar</h3>
        <p class="text-center mb-5">
            Mavjud mummolarni o’rgangan holda, loyiha tarkibida 4ta qismdan iborat kompleks IT tizim ishlab chiqish
            belgilab olindi.
        </p>

        <div class="solution-cards">
            <div class="solution-card">
                <div class="solution-icon">
                    <i class="fas fa-recycle fa-2x"></i>
                </div>
                <h5 class="solution-title">Arzon xomashyolar</h5>
                <p class="solution-text">
                    Mulk egalari ortib qolgan xomashyolarni tizimdan ro’yhatdan o’tish orqali bepul yoki arzon narxda
                    taklif qilishadi. Aynan Shu mahsulotga ehtiyoji borlar taklif etuvchi bilan aloqaga chiqib vaqtini
                    tejaydi.
                </p>
            </div>

            <div class="solution-card">
                <div class="solution-icon">
                    <i class="fas fa-dumpster fa-2x"></i>
                </div>
                <h5 class="solution-title">Chiqindi tashish xizmati</h5>
                <p class="solution-text">
                    Hududlar kesimi yordamida ushbu xizmat bilan shug’ullanuvchi yuk mashina egalari servislarini
                    reklama
                    qilishadi. Siz esa o’z ehtiyojingizdan kelib chiqib eng
                    yaxshi saralangan takliflarga murojaat qilishingiz mumkin, hatto qo’shimcha ishchi kuchi bilan.
                </p>
            </div>

            <div class="solution-card">
                <div class="solution-icon">
                    <i class="fas fa-broom fa-2x"></i>
                </div>
                <h5 class="solution-title">Pro-Cleaning</h5>
                <p class="solution-text">
                    Tozalash xizmatlarini ko’rsatuvchi tashkilotlar bo’yicha sahifadan siz, eng
                    yaxshilarini izohlar va ballar yordamida tanlab olib buyurtma berishingiz mumkin.
                </p>
            </div>

<!--            <div class="solution-card">-->
<!--                <div class="solution-icon">-->
<!--                    <i class="fas fa-brain fa-2x"></i>-->
<!--                </div>-->
<!--                <h5 class="solution-title">AI jihozlash</h5>-->
<!--                <p class="solution-text">-->
<!--                    Ushbu bo’limda siz xonalarni qanday jihozlash bo’yicha suniy intellekt texnologiyalari yordamida-->
<!--                    taklif qilingadigan yechimlarga ega bo’lasiz. Xonaning rasmini va qo’llanish maqsadini kiritasiz,-->
<!--                    tizim sizga qanday jihozlash bo’yicha takliflar beradi.-->
<!--                </p>-->
<!--            </div>-->
        </div>
    </section> <!--Section: Design Block-->
</div>
