<section>
            <div class="bg-image bg-fixed text-center" style="
                                                      background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Things/full page/img%20%287%29.jpg');
                                                      height: 460px;
                                                      ">
                <div class="d-flex align-items-center h-100 mask" style="
                                                               background: linear-gradient(
                                                               45deg,
                                                               rgba(29, 236, 197, 0.7),
                                                               rgba(91, 14, 214, 0.7) 100%
                                                               );
                                                               ">
                    <div class="container text-white">
                        <p class="h1 mb-5">Great people trusted our services</p>
                        <div class="row">
                            <div class="col-md-3">
                                <h2 class="h1">+950</h2>
                                <p class="mb-md-0">Happy clients</p>
                            </div>
                            <div class="col-md-3">
                                <h2 class="h1">+150</h2>
                                <p class="mb-md-0">Projects completed</p>
                            </div>
                            <div class="col-md-3">
                                <h2 class="h1">+85</h2>
                                <p class="mb-md-0">Winning awards</p>
                            </div>
                            <div class="col-md-3">
                                <h2 class="h1">+246</h2>
                                <p class="mb-0">Cups of coffee</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
