<div class="container-fluid my-5">
            <!--Section: Design Block-->
            <section class="text-center">
                <div class="container">
                    <h3 class="mb-5">Our projects</h3>

                    <p class="mb-5 mx-auto w-responsive">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum laborum animi
                        doloremque nam dicta veniam dolor ea nostrum excepturi laboriosam molestiae, expedita
                        odit id! Sunt quia cumque consequatur perferendis hic.
                    </p>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="bg-image hover-overlay shadow-1-strong rounded">
                            <img src="https://mdbootstrap.com/img/Photos/Others/img3.jpg" class="w-100"
                                 alt="Sample image"/>
                            <div class="mask d-flex align-items-center justify-content-center" style="
                                                                                      background: linear-gradient(
                                                                                      45deg,
                                                                                      rgba(29, 236, 197, 0.7),
                                                                                      rgba(91, 14, 214, 0.7) 100%
                                                                                      );
                                                                                      " data-mdb-theme="dark">
                                <button class="btn btn-outline-light" data-mdb-ripple-init>SEE MORE</button>
                            </div>
                        </div>
                        <p class="text-uppercase mt-4 mb-0">Lorem ipsum dolor sit</p>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="bg-image hover-overlay shadow-1-strong rounded">
                            <img src=" https://mdbootstrap.com/img/Photos/Others/img4.jpg" class="w-100"
                                 alt="Sample image"/>
                            <div class="mask d-flex align-items-center justify-content-center" style="
                                                                                      background: linear-gradient(
                                                                                      45deg,
                                                                                      rgba(29, 236, 197, 0.7),
                                                                                      rgba(91, 14, 214, 0.7) 100%
                                                                                      );
                                                                                      " data-mdb-theme="dark">
                                <button class="btn btn-outline-light" data-mdb-ripple-init>SEE MORE</button>
                            </div>
                        </div>
                        <p class="text-uppercase mt-4 mb-0">Lorem ipsum dolor sit</p>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="bg-image hover-overlay shadow-1-strong rounded">
                            <img src="https://mdbootstrap.com/img/Photos/Others/img8.jpg" class="w-100"
                                 alt="Sample image"/>
                            <div class="mask d-flex align-items-center justify-content-center" style="
                                                                                      background: linear-gradient(
                                                                                      45deg,
                                                                                      rgba(29, 236, 197, 0.7),
                                                                                      rgba(91, 14, 214, 0.7) 100%
                                                                                      );
                                                                                      " data-mdb-theme="dark">
                                <button class="btn btn-outline-light" data-mdb-ripple-init>SEE MORE</button>
                            </div>
                        </div>
                        <p class="text-uppercase mt-4 mb-0">Lorem ipsum dolor sit</p>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-0">
                        <div class="bg-image hover-overlay shadow-1-strong rounded">
                            <img src=" https://mdbootstrap.com/img/Photos/Others/img6.jpg" class="w-100"
                                 alt="Sample image"/>
                            <div class="mask d-flex align-items-center justify-content-center" style="
                                                                                      background: linear-gradient(
                                                                                      45deg,
                                                                                      rgba(29, 236, 197, 0.7),
                                                                                      rgba(91, 14, 214, 0.7) 100%
                                                                                      );
                                                                                      " data-mdb-theme="dark">
                                <button class="btn btn-outline-light" data-mdb-ripple-init>SEE MORE</button>
                            </div>
                        </div>
                        <p class="text-uppercase mt-4 mb-0">Lorem ipsum dolor sit</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <div class="bg-image hover-overlay shadow-1-strong rounded">
                            <img src="https://mdbootstrap.com/img/Photos/Others/img7.jpg" class="w-100"
                                 alt="Sample image"/>
                            <div class="mask d-flex align-items-center justify-content-center" style="
                                                                                      background: linear-gradient(
                                                                                      45deg,
                                                                                      rgba(29, 236, 197, 0.7),
                                                                                      rgba(91, 14, 214, 0.7) 100%
                                                                                      );
                                                                                      " data-mdb-theme="dark">
                                <button class="btn btn-outline-light" data-mdb-ripple-init>SEE MORE</button>
                            </div>
                        </div>
                        <p class="text-uppercase mt-4 mb-0">Lorem ipsum dolor sit</p>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <div class="bg-image hover-overlay shadow-1-strong rounded">
                            <img src="https://mdbootstrap.com/img/Photos/Others/img5.jpg" class="w-100"
                                 alt="Sample image"/>
                            <div class="mask d-flex align-items-center justify-content-center" style="
                                                                                      background: linear-gradient(
                                                                                      45deg,
                                                                                      rgba(29, 236, 197, 0.7),
                                                                                      rgba(91, 14, 214, 0.7) 100%
                                                                                      );
                                                                                      " data-mdb-theme="dark">
                                <button class="btn btn-outline-light" data-mdb-ripple-init>SEE MORE</button>
                            </div>
                        </div>
                        <p class="text-uppercase mt-4 mb-0">Lorem ipsum dolor sit</p>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay shadow-1-strong rounded">
                            <img src="https://mdbootstrap.com/img/Photos/Others/img9.jpg" class="w-100"
                                 alt="Sample image"/>
                            <div class="mask d-flex align-items-center justify-content-center" style="
                                                                                      background: linear-gradient(
                                                                                      45deg,
                                                                                      rgba(29, 236, 197, 0.7),
                                                                                      rgba(91, 14, 214, 0.7) 100%
                                                                                      );
                                                                                      " data-mdb-theme="dark">
                                <button class="btn btn-outline-light" data-mdb-ripple-init>SEE MORE</button>
                            </div>
                        </div>
                        <p class="text-uppercase mt-4 mb-0">Lorem ipsum dolor sit</p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="bg-image hover-overlay shadow-1-strong rounded">
                            <img src="https://mdbootstrap.com/img/Photos/Others/img10.jpg" class="w-100"
                                 alt="Sample image"/>
                            <div class="mask d-flex align-items-center justify-content-center" style="
                                                                                      background: linear-gradient(
                                                                                      45deg,
                                                                                      rgba(29, 236, 197, 0.7),
                                                                                      rgba(91, 14, 214, 0.7) 100%
                                                                                      );
                                                                                      " data-mdb-theme="dark">
                                <button class="btn btn-outline-light" data-mdb-ripple-init>SEE MORE</button>
                            </div>
                        </div>
                        <p class="text-uppercase mt-4 mb-0">Lorem ipsum dolor sit</p>
                    </div>
                </div>
            </section>
            <!--Section: Design Block-->
        </div>
