<!-- Sidenav -->
<div id="sidenav-1" class="sidenav" data-mdb-sidenav-init role="navigation" data-mdb-hidden="true"
     data-mdb-accordion="true">
    <ul class="sidenav-menu">
        <li class="sidenav-item">
            <a class="sidenav-link"><i class="fas fa-box pe-3"></i><span>Xom ashyolar</span></a>
            <ul class="sidenav-collapse show">
                <li class="sidenav-item">
                    <a class="sidenav-link">Mavjud mahsulotlar</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link">So'rov jo'natish</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link">Mahsulot joylashtirish</a>
                </li>
            </ul>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link"><i class="fas fa-trash-alt pe-3"></i><span>Trash Removal</span></a>
            <ul class="sidenav-collapse">
                <li class="sidenav-item">
                    <a class="sidenav-link">Umumiy ro'yhat</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link">Rejalashtirish</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link">Servisingizni qo'shing</a>
                </li>
            </ul>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link"><i class="fas fa-broom pe-3"></i><span>ProCleaning</span></a>
            <ul class="sidenav-collapse">
                <li class="sidenav-item">
                    <a class="sidenav-link">Buyurtma qilish</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link">Tozalash xizmatlari
                    </a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link">Reyting</a>
                </li>
            </ul>
        </li>
<!--        <li class="sidenav-item">-->
<!--            <a class="sidenav-link"><i class="fas fa-robot pe-3"></i><span>AI Jihozlash</span></a>-->
<!--            <ul class="sidenav-collapse">-->
<!--                <li class="sidenav-item">-->
<!--                    <a class="sidenav-link">AI yechimlar</a>-->
<!--                </li>-->
<!--                <li class="sidenav-item">-->
<!--                    <a class="sidenav-link">So'rov jo'natish</a>-->
<!--                </li>-->
<!--                <li class="sidenav-item">-->
<!--                    <a class="sidenav-link">AI texnik yo'riqnoma</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->
        <li class="sidenav-item">
            <a class="sidenav-link"><i class="fas fa-lightbulb pe-3"></i><span>Maslahatlar</span></a>
            <ul class="sidenav-collapse">
                <li class="sidenav-item">
                    <a class="sidenav-link">DIY Projects</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link">Xavfsizlik</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link">Saralash</a>
                </li>
            </ul>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link"><i class="fas fa-user-friends pe-3"></i><span>Tadbirlar</span></a>
            <ul class="sidenav-collapse">
                <li class="sidenav-item">
                    <a class="sidenav-link">Forumlar</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link">Uchrashuvlar</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link">Muvaffaqiyatli bizneslar </a>
                </li>
            </ul>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link"><i class="fas fa-envelope pe-3"></i><span>Biz bilan bog'laning</span></a>
            <ul class="sidenav-collapse">
                <li class="sidenav-item">
                    <a class="sidenav-link">Mijozlarni qo'llab quvvatlash</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link">Takliflar</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link">Hamkorlik</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- Sidenav -->