<!-- Footer -->
<footer class="text-center text-lg-start text-muted" style="background-color: hsl(213, 44%, 97%)">
  <!-- Section: Social media -->
  <section class="
                  d-flex
                  justify-content-center justify-content-lg-between
                  p-4
                  border-bottom
                  container
                  ">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Transforming Waste into Worth</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Action Pro
          </h6>
          <p>
            Yosh StartUperlar jamoasi tashabbusi bilan tashkil qilanyotgan innovatsion loyiha.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Asosiy</h6>
          <p>
            <a href="{% url 'homepage' %}" class="text-reset">Start Up haqida</a>
          </p>
          <p>
            <a href="{% url 'mvphome' %}" class="text-reset">Bosh MVP</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Video rolik</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Foydali havolalar</h6>
          <p>
            <a href="{% url 'emarket' %}" class="text-reset">E-market</a>
          </p>
          <p>
            <a href="{% url 'trashremoving' %}" class="text-reset">Trash removing</a>
          </p>
          <p>
            <a href="{% url 'proclean' %}" class="text-reset">Pro-cleaning</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Toshkent sh. Yunusobod tumani Iftixor ko'chasi 1</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            ortikovua@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 998 94 404 77 54</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: hsla(0, 0%, 17%, 0.04)">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="#!">Action Pro MChJ</a>
  </div>
  <!-- Copyright -->
</footer>