<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button
                data-mdb-collapse-init
                class="navbar-toggler"
                type="button"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="{% url 'homepage' %}">
                <div class="logo">
                    <div class="leaf">
                        <span class="stem"></span>
                        <span class="leaf-shape"></span>
                    </div>
                    <div class="text">
                        <span>Eco</span>
                        <span>Construct</span>
                    </div>
                </div>
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-4">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage' %}">Bosh sahifa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mvphome" href="{% url 'mvphome' %}">MVP home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link emarket" href="{% url 'emarket' %}">
                        E-market
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link trash" href="{% url 'trashremoving' %}">Trash Removing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link proclean" href="{% url 'proclean' %}">Pro Cleaning</a>
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
<!--        <div class="d-flex align-items-center">-->
<!--            &lt;!&ndash; Icon &ndash;&gt;-->

<!--            <a  href="#" type="button" class="btn btn-success mvp-link" data-mdb-ripple-init>-->
<!--                MVPga o'tish-->
<!--            </a>-->

<!--        </div>-->
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
